.basic {
    background-color: #e67c7c;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

.cool {
    font-size: 24px;
}

#first {
    color: rgb(25, 0, 255);
    font-size: 36px;
}

#second {
    background-color: hsl(130, 46%, 63%);
    font-size: 24px;
    font-weight: bold;
}