body {
  background: #eee;
  font-family: sans-serif;
  font-size: 16px;
}

.card {
  width: 400px;
  background: #fff;
  margin: auto;
  padding: 10px 5px 1px;

}


.title {
  background: #e3f4ff;
  margin: 10px;
  font-size: inherit;
}

.content {
  background: #e3f4ff;
  margin: 10px;

}

.button-container {
  background: #e3f4ff;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;


}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
}

.card>* {
  padding: 10px;
}